---
import GBBestaetigung from '../components/greybox/GBBestaetigung.astro';
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Greybox – Erinnerung bestätigen</title>
  </head>
  <body class="m-0 p-0">
    <GBBestaetigung time="18:00" zurückHref="/" kalenderHref="#" />
  </body>
</html>
