---
import GBTimerSetzen from '../components/greybox/GBTimerSetzen.astro';
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Greybox – Timer stellen</title>
  </head>
  <body class="m-0 p-0">
    <GBTimerSetzen defaultMinutes={5} defaultSeconds={30} nextHref="/session" />
  </body>
</html>
